@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #c0e184;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.8em;
}

header{
    background-image: linear-gradient(to bottom,#3CD983,#185233);
    color:white;
}

header>h1{
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}

header>p{
    color:white;
    text-align: center;
    font-size: 1em;
    padding: 20px;
}

nav{
    padding: 10px;
}

nav>a{
    color:#9ae7bd;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    margin: 10px;
}
nav>a:hover{
    color:#1e5336;
    border: 5px;
    border-style:solid;
    border-radius: 3px;
    border-color:#9ae7bd;
    background-color: #9ae7bd;
}

main{
    background-color: white;
    width: 80%;
    margin: auto;
    font-size:1.1em;;
    padding-bottom: 10px;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.247);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
p>a:hover{
    text-decoration: underline;
}
main>p{
    padding:0px 20px 10px 20px;
    text-indent: 2em;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 20px;
}
p>a{
    color:#143a26;
    text-decoration: none;
    font-weight: bold;
}
p>a::after{
    content: '🔗';
}
P>strong{
    color:#1e5336
}
main>h1{
    font-family: 'idroid';
    font-size:1.3em;
    color:#1e5336;
    padding: 20px;
}
main>section>h2{
    font-family: 'idroid';
    font-size:1.1em;
    color:#1e5336;
    padding: 0px 0.5em;
}
p{
    padding:0px 20px 10px 20px;
    text-indent: 2em;
    text-align: justify;
}
h2{
    margin: 10px 10px 10px 20px;
    font-size: 0.9em;
    background-image: linear-gradient(to right,#84E1AD,white);
    padding: 0px 5px;
}
div#img{
    height: 195px;
    width: 300px;
    margin: auto;
}
iframe{
    width: 100%;
    height: 25em;
    margin: 10px 0px;
    border:30px solid #266946;
}
picture>img{
    width: 100%;
    padding: 20px;
}
.extra{
    width: 100%;
    padding: 20px;
    margin-bottom:0;
}
.extra>article>p{
    padding: 5px;
}
.extra>article{
    background-color: rgba(156, 216, 183, 0.719);
    border-radius:10px;
}
.extra>article>h3{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #4dc583;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.extra>article>div{
    display:inline-block;
    margin-left: 2em;
    margin-right: 3em;
    margin:0.3em 3em 0.3em 2em;
}

footer>p{
    text-align: center;
    color:white;
    font-weight: lighter;
    font-size: 0.8em;
    background-color:#266946;
    padding: 5px;
    margin-top: 20px;
}
footer>p>strong{
    color:white;
}